
@{
    ViewBag.Title = "Premium";
}


<link href="~/Content/premium.css" rel="stylesheet" />


<div class="play-backdrop"></div>
<div class="play-button" style=" margin-top:50px;">

    <div class="play-perspective">
        <!--<button class="play-close"></button>-->
        <div class="play-triangle">
            <div class="play-video">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/PSanJ5swYBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!--<iframe width="100%" height="400" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="col-md-6">
        <div class="card event-card mb-3 card-rounded shadow-1">
            <div class="event-card-title p-3 text-center">
                <h3 class="h5">
                    Fun in the Park 2017
                </h3>
            </div>
            <div class="card-calendar text-center">
                <div class="col-date-time">
                    <span class="col-day">Mon</span>
                    <span class="col-date">27</span>
                </div>
                <div class="col-event-time p-3" style="text-align:center;">
                    <h3>7.30 pm</h3>
                </div>
            </div>
        </div>
    </div>
</div>